<nav class="navbar bg-primary" data-bs-theme="dark">
  <a class="navbar-brand">MyApp</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-item" href="/users">Usuarios</a>
      </li>
    </ul>
  </div>
</nav>